/* 

global

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: sans-serif;
    background-color: #f5f7fa;
    color: #2e2e2e;
}

/*

nav

*/

nav {
    position: fixed;
    width: 100vw;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: #444175;
    font-size: 2.5rem;
    height: 11rem;
    color: #ffffff;
}

nav .nav_brand {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

nav .nav_brand img {
    margin-right: 0.5rem;
    border: 2px solid #272138;
    max-height: 8rem;
    min-width: 8rem;
    object-fit: cover;
    border-radius: 10%;
}

nav .nav_content {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
    width: 100%;
} 

nav .nav_content a {
    display: flex;
} 

nav .nav_content img {
    max-height: 90px;
} 

/* 

general_container

*/

.general_container {
    display: flex;
    position: relative;
    top: 11rem;
}

.general_container aside {
    flex: 0.6;
    background-color: #6d69bb93;
}

.general_container .content_container {
    flex: 8;
}

/* 

content_container

*/

.content_container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;
    background-color: #d8deff;
    box-shadow: 0 0 1rem  #452e8b;
    z-index: 1;
}

/*

sections

*/

.content_container div.section {
    padding: 2rem;
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 3rem;
    box-shadow: 0 0 1rem  rgba(0, 0, 0, 0.459);
    background-color: #9691ff69;
}

.content_container div.section h2 {
    margin-bottom: 2rem;
    color: #2f2d52;
    scroll-margin-top: 14rem;
}

.content_container div.section h1 {
    margin-bottom: 2rem;   
    color: #2f2d52;
}

/*

section 1

*/

div.section.s1 {
    display: flex;
    flex-direction: column;
}

div.section.s1 div.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.section.s1 div.introduction div.index {
    font-size: 1.5rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 1.8rem;
    background-color: #f2efff;
}

div.section.s1 div.introduction-info {
    display: flex;
    position: relative;
    
}

/*

section 1 photos

*/

div.section.s1 div.introduction-info div.photos {
    display: flex;
}

div.section.s1 div.introduction-info div.photos input {
    display: none;
}

div.photos .main-photo img {
    display: none;
    width: 45rem;
    max-height: 45rem;
    object-fit: cover;
    border: 2px solid #000000;
    border-radius: 10px;
}

#photo1:checked ~ .main-photo .img1 {
    display: block;
}

#photo2:checked ~ .main-photo .img2 {
    display: block;
}

#photo3:checked ~ .main-photo .img3 {
    display: block;
}

.choose {
    display: flex;
    flex-direction: column-reverse;
}

.choose label img {
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.3s;
}

.choose label img:hover {
    border-color: #7547c08f;
}

/* 

section 1 text-info

*/

div.section.s1 div.introduction-info div.text-info-container {
    display: flex;
    flex-direction: column-reverse;
}

div.section.s1 div.introduction-info div.text-info {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid #2e2e2e;
    background-color: #f2efff;
    border-radius: 1rem;
    padding: 2rem;
    align-content: end;
}

div.section.s1 div.introduction-info div.text-info button {
    padding: 1rem;
    margin-top: 1.6rem;
    border: 2px solid #2e2e2e;
    border-radius: 1rem;
    background-color: #f2efff;
    font-size: 1.5rem;
    box-shadow: 0 0 0.5rem  #452e8b;
}

div.section.s1 div.introduction-info div.text-info button:hover {
    background-color: #e3dcff;
    box-shadow: 0 0 0;
}

/*

section 2

*/

div.section.s2 button {
    padding: 1rem;
    margin-top: 1.6rem;
    border: 2px solid #2e2e2e;
    border-radius: 1rem;
    background-color: #f2efff;
    font-size: 1.5rem;
    box-shadow: 0 0 0.5rem  #452e8b;
}

div.section.s2 hr {
    border-color: #000000;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*

section 3

*/

div.section.s3 ul {
  list-style-type: circle;
  margin-left: 2rem;
}

div.section.s3 ul li {
  margin-bottom: 1rem;
}

div.section.s3 ul img{
    max-width: 40rem;
    max-height: 30rem;
    object-fit: contain;
    margin-bottom: 3rem;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
}

div.section.s3 ul div.courses-icons{
    display: flex;
    img {margin-right: 2rem;}
}

/*

section 4

*/

div.section.s4 table {
    width: 80%;
    border-collapse: collapse;
    font-size: 1.5rem;
    text-align: left;
}

div.section.s4 table tr:nth-child(even) {
    background-color: #c1a7ff85;
}

div.section.s4 table tr:nth-child(odd) {
    background-color: #efe8ffc5;
}

div.section.s4 table tr:hover {
    background-color: #9f8ffa;
}

div.section.s4 table * {
    border: 2px solid #2e2e2e;
    padding: 1rem;
    
}

div.section.s4 table td:first-child{
    font-weight: bold;
}

div.section.s4 table td:last-child{
    align-items: center;
    justify-content: center;
}
    
div.section.s4 table th {
    background-color: #444175;
    color: #ffffff;
}

div.section.s4 button {
    padding: 1rem;
    margin-top: 1.6rem;
    border: 2px solid #2e2e2e;
    border-radius: 1rem;
    background-color: #f2efff;
    font-size: 1.5rem;
    box-shadow: 0 0 0.5rem  #452e8b;
}

div.section.s4 button:hover {
    background-color: #e3dcff;
    box-shadow: 0 0 0;
}

div.row {
    display: flex;
}

/* 

popup_form_edit

*/

div.popup-form-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000c0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

div.popup-form-edit div.popup-form-container {
    border: 3px solid black;
    border-radius: 2rem;
    background-color: #f2efff;
    box-shadow: 0 0 1rem  #2a1c55;
    padding: 4rem;
    position: relative;
}

form.form-introduction {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

form input {
    width: 60%;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    
}

form input:last-child {
    margin-top: 1.5rem;
    width: 16rem;
    background-color: #9eff919c;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #1c55289d;
}

form input:last-child:hover {
    background-color: #59ca4a9c;
    box-shadow: 0 0 0;
}

form label {
    margin-top: 1rem;
}

button.close-popup {
    align-items: center;
    font-weight: bold;
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    justify-content: end;
    border: 2px solid black;
    padding: 0.6rem;
    border-radius: 20rem;
    box-shadow: 0 0 0.5rem  #2a1c55;
}

button.close-popup:hover {
    background-color: #e3dcff;
    box-shadow: 0 0 0;
}

/* 

popup-form-add

*/

div.popup-form-add {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000c0;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.popup-form-add div.popup-form-container {
    border: 3px solid black;
    border-radius: 2rem;
    background-color: #f2efff;
    box-shadow: 0 0 1rem  #2a1c55;
    padding: 4rem;
    position: relative;
}

form.form-sobre-mim {
    display: flex;
    flex-direction: column;
}

input.form-error {
    color: red;
    background-color: rgba(255, 0, 0, 0.342);
    border-color: red;
}

input.submit-edit {
    display: initial;
}